html, body{
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(47, 47, 47);
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
header, nav, footer {
    background-color: rgb(0, 128, 0);
    color: white;
    padding: 0.5em;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
}
.center {
    display: flex; /* Arrange aside and section horizontally */
    flex: 1; /* Allow this container to grow and fill vertical space */
    overflow: hidden; /* Prevent content from overflowing the body */
}
h1.header {
    margin: 0;
    padding: 0;
}
article{
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    width: 100%;
    /* float: left; */
    padding: 0;
    margin: 0;
}
/* Navigation Bar */
nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav li {
    margin: 0;
    padding: 0;
}
nav a{
    display: block;
    float: left;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.2em 0.6em;
    width: fit-content;
    text-decoration: none;
    margin: 1.5px 5px;
}
nav a:hover:not(.active) { 
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
}
.active{
    background-color: rgb(0, 128, 0);
    border-radius: 5px;
}
fieldset {
    border: 2px solid rgb(0, 128, 0); /* Set the border style and color here */
    border-radius: 5px; /* Optional: Add rounded corners */
    padding: 1em; /* Add padding inside the fieldset */
    margin-bottom: 1em; /* Add space below the fieldset */
}
aside {
    /* float: left; */
    width: 160px;
    margin: 0;
    padding: 1em;
    flex-shrink: 0;
}
section {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-left: 3px solid rgb(0, 128, 0);
    /* margin-left: 190px; */
    padding-left: 1em;
    box-sizing: border-box;
    overflow-y: auto;
}
.employee-form {
    margin-bottom: 10px;
    padding: 10px;
    /* margin: auto; */
    /* width: 50%; */
}
.employees-table {
    /* border-style: solid; */
    padding: 10px;
    width: auto;
}
body > table{
    width: 80%;
}
table {
    border-collapse: separate; /* Change from collapse to separate */
    border-spacing: 0; /* Remove space between borders */
    border-radius: 8px; /* Adjust the radius value for desired smoothness */
    overflow: hidden; /* Clip the content within the rounded corners */
    width: 100%; /* Ensure table takes full width if needed */
    border: 2px solid rgb(0, 128, 0); /* Apply border to the table itself */
}

table.list {
    width: 100%;
}

td, th {
    border: none; /* Remove individual cell borders */
    border-bottom: 1px solid rgb(0, 128, 0); /* Add bottom border for separation */
    border-right: 1px solid rgb(0, 128, 0); /* Add right border for separation */
    text-align: left;
    padding: 8px;
}

/* Remove border from the last cell in each row */
td:last-child, th:last-child {
    border-right: none;
}

/* Remove bottom border from cells in the last row */
tbody tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even), table.list thead > tr {
    background-color: rgb(0, 128, 0);
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

.delete{
    display: right;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    background-color: #ff0000;
    border-radius: 5px;
}

.edit{
    display: right;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    background-color: #4ab900;
    margin-right: 10px;
    border-radius: 5px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

.web-worker{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.with{
    border: solid 1px gray;
    margin-left: 15px;
    padding: 5px;
    width: 50%;
}

.without{
    border: solid 1px gray;
    padding: 5px;
    width: 50%;
}

#sse-result{
    height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: #4ab900;
}

.Geolocation{
    display: flex;
}

#content-holder{
    margin-left: 20px;
}

.sse{
    display:flex;
    margin-bottom: 5px;
}

.ssebutton{
    height: 20px;
    margin-left: 5px;
    margin-top: 15px;
}

#div1, #div2 {
    float:left;
    width:200px;
    height:150px;
    margin:10px;
    padding:10px;
    border:1px solid #aaaaaa;
}
#drag1{
    margin-top: 10px;
}
#testcanva{
    width: fit-content;
    height: fit-content;
}
.svg{
    display: flex;
}